NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_AI_CHAT_URL=http://localhost:8000/chat
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
VIETMAP_API_KEY=your_vietmap_api_key
VIETMAP_AUTOCOMPLETE_FOCUS=10.776889,106.700806
